{% extends "topBar.html" %}

{% block title %}Home page to Safe-Info{% endblock %}

{% block content %}
    <style>
        .jumbotron {
            width: 90%;
            margin: auto;
            margin-top: 30px;
        }
        .main {
            width: 90%;
            margin: auto;
            margin-top: 30px;
        }
        .central {
            background-color: #f7f7f9;
        }
        .sidebar {
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 5px solid #ffffff;
        }
    </style>

    <main class="text-center main">
        <div class="page-header">
            <h1>Safe-infos home page <small>See your details</small></h1>
        </div>

        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="treeview w-20 border">
                    <p><a class="btn btn-primary btn-lg" href="/form" role="button">
                        <span class="fas fa-file-alt"></span> New Form</a></p>
                    <hr>
                </div>
                <div class="treeview w-20 border">
                    <p><a class="btn btn-primary btn-lg" href="/newFile" role="button">
                        <span class="fas fa-file-excel"></span> Add File</a></p>
                    <hr>
                </div>
                <div class="treeview w-20 border">
                    <p><a class="btn btn-primary btn-lg" href="/newVideo" role="button">
                        <span class="fas fa-file-audio"></span> Add Video</a></p>
                    <hr>
                </div>
            </div>
            <div class="col-md-9 central">
                <p>test columns</p>
                
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock %}